CodeBlocks/cell_batteries_check_AI/obj/
Micro_AI_72V_Battery_Analyser/__vm/
Micro_AI_72V_Battery_Analyser/obj/
Neural_Network_Battery_Analyzer/x64/
Neural_Network_Battery_Analyzer/Debug/
CodeBlocks/Vanilla-AI-Development/obj/
.vs/
