# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Lifepo4-Discharge-Model/x64/
.vs/VSWorkspaceState.json
.vs/
Lifepo4-Discharge-Model/Debug/
x64/
SampleGenerator/Bin/
AI_battery_analyser/obj/x86/
AI_battery_analyser/__vm/
AdditionWithRelu/Debug/
Book-Version/Debug/
Book-Version/Release/
